<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <div class="posts">
      <div class="post">
        <% for(key in tags) { %>
          <div class="name"><% key %></div>
          <%  } %>  
      </div>
    </div>
  </div>
  <!-- <script>
var xhr = new XMLHttpRequest();

xhr.open('GET', '/posts', false);

xhr.send();

if (xhr.status != 200) {
  alert( xhr.status + ': ' + xhr.statusText );
} 
else {
  object = xhr.responseText
}
  </script> -->
</body>
</html>